html,body{
    overflow-y: hidden;
}
#demo01{
    width: 100%;
    height:100%;
    overflow-y: auto;
}
#demo01 li{
    display: inline-block;
    width: 140px;
    height: 188px;
    overflow: hidden;
    padding: 0 0 30px 50px;
    line-height: 1.4;
}
/*.u-cover a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0 0;
}*/
.layui-body{
    left: 0px;
}
.layui-footer{
    left: 0px !important;
}
.dec{
    width: 100%;
    height: 100%;
}
.dec a{
    max-width: 100%;
    height: 100%;
    display: inline-block;
}
.player{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#pause_player{
    display: none !important;
}